body{
    margin-left: 15%;
    margin-right: 15%;
}

.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#header{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height:42px;
    color: #070f18;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li{
    display: inline-block;
    margin-left: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#menu{
    text-align: right;
    margin-top: 49px;
}

a{
    color: black;
    text-decoration: none;
}

#buttonCta{
     background-color: #1F7CFF;
     border-radius: 50px;
     font-family: Poppins;
     font-style: normal;
     font-size: 16px;
     line-height: 24px;
     text-align: center;
     color: #FFFFFF;
     padding: 10px 25px 10px 25px;
   
     
     
}

#headerCta p{
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 32px;
     color: #575455
}

#headerCta h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}

#headerImg{
    margin-left: 42px;
}

#headerImg img{
    width: 100%;
}

.headerLogo{
    text-align: center;
}
#Clients{
    margin-top: 50px;
    margin-bottom: 50px;
}

#headerClientText{
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #070f18;
}

h1.black{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    margin-top: 0;
    color: #000000;
}

h2.red{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #db2525;
}

.textCenter{
    text-align: center;
}


#services .textCenter h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #070f18;
}

#services .textCenter p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #575455;
}

#contactImg img{
    width: 100%;
}

#contactForm{
    margin-left: 75px;
    text-align: left;
}

#contact{
    margin-top: 100px;
}

#text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #575455;
}

#contactForm input{
    background: #F5f6FB;
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #575455;
    border: 0;
    width: 70%;
    padding: 15px 30px 15px 30px;
}

#contactForm button{
    background: #1F7CFF;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
    border: 0;
    margin: 15px;
}


#portfolioTitle{
    margin-top: 150px;
}

.portfolioImg img{
    width: 100%;
}

.portfolioImg{
    padding: 20px;
}